* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

header {
  height: 20vh;
  text-align: center;
  background-color: #ff8787;
}
.container {
  display: flex;
}
#sidebar {
  background-color: #73c2fb;
  height: 70vh;
  width: 20%;
  ul {
    list-style-type: none;
    display: none;
    li {
      padding: 0.5rem;
      background-color: #1c7ed6;
      margin: 0.5rem;
      color: white;
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
  &:hover {
    h1 {
      display: none;
    }
    ul {
      display: block;
      cursor: pointer;
    }
  }
}
#content {
  background-color: #ffd43b;

  height: 70vh;
  width: 80%;
}
img {
  height: 15vh;
}
footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  background-color: #333;
  color: #aaa;
  padding: 2rem 4rem;
  font-family: sans-serif;

  .text {
    display: grid;
    gap: 1rem;
    h1 {
      color: #aaa;
    }
  }
  a {
    color: #aaa;
  }
  .social-icons a {
    color: #aaa;
    margin: 0 10px;
    text-decoration: none;
    font-size: 24px;
  }
  .social-icons a:hover {
    color: #1c7ed6; /* Change to highlight color */
  }
  .email-box {
    display: grid;
    gap: 2rem;
    place-content: center;
    background-color: #424242;
    padding: 1rem;
  }
  .email-box input[type="email"] {
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
    width: 50%;
  }
  .email-box button {
    padding: 10px;
    background-color: #1c7ed6;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  .email-box button:hover {
    background-color: #074c8c;
  }
  p {
    color: #aaa;
  }
}

form {
  display: none;
  position: absolute;
  left: 20%;
  text-align: left;
}
::placeholder {
  text-align: left;
}
#project1 {
  display: none;
}
#project1:checked ~ form {
  display: block !important;
}
